
.delay-widget {
    width: max-content;
    background-color: #ffff;
}

.delay-widget__header {
    width: 248px;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #a1a1a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delay-widget__title {
    all: unset;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.options-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.options-list__item{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    & span {
        width: 100%;
    }
}