@import 'react-datepicker/dist/react-datepicker.css';

.datePicker {
  width: max-content;
}

.datepicker-input {
  padding: 0;
  margin: 0;
}

.react-datepicker {
  padding: 0;
}

.react-datepicker__header {
  border-bottom: none !important;
  background-color: #fff !important;
  padding: 0;
}

.react-datepicker__day-names {
  display: flex;
  margin-bottom: 0;
}

.react-datepicker__day-name {
  flex-basis: 100%;
  margin: 0 !important;
  background: rgb(185, 164, 206);
  border: 1px solid gray;
  line-height: normal;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__week {
  &:nth-child(3n + 2) {
  }
}

.react-datepicker__day {
  margin: 0 !important;
  width: 30px !important;
  height: 23px;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  font-weight: 600;

  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  text-align: right !important;
  &:last-of-type {
    border-right: none;
  }
  &:hover {
    border-radius: 0 !important;
  }
  &--selected,
  &--keyboard-selected {
    border-radius: 0 !important;
    background-color: #3aa8ff !important;
  }
  &--disabled {
    border-radius: 0 !important;
  }
}

.hide__time {
  display: none;
}
