@import 'react-datepicker/dist/react-datepicker.css';

.calendar__container__wrapper {
  padding: 8px;
  border: 1px solid gray;
  background: #fff;
  position: relative;
}

.calendar__nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 2px;
}

.calendar__nav__month__name {
  font-weight: 600;
}

.calendar__nav__button {
  all: unset;
  color: gray;
  cursor: pointer;

  &:hover {
    color: rgb(99, 98, 98);
  }

  &--next {
  }

  &--prev {
  }
}

.datePicker {
  width: min-content;
  height: min-content;
}

.datepicker-input {
  padding: 0;
  margin: 0;
}

.react-datepicker {
  padding: 0;
  display: flex;
  & > * {
    flex: 1;
  }
}

.react-datepicker__header {
  border-bottom: none !important;
  background-color: #fff !important;
  padding: 0;
}

.react-datepicker__day-names {
  display: flex;
  margin-bottom: 0;
}

.react-datepicker__day-name {
  flex-basis: 100%;
  margin: 0 !important;
  background: rgb(185, 164, 206);
  border: 1px solid gray;
  line-height: normal;
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__week {
  margin: 0;
  &:nth-child(3n + 2) {
  }
}

.react-datepicker__day {
  margin: 0 !important;
  width: 30px !important;
  height: 23px;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  font-weight: 600;

  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  text-align: right !important;

  &:last-of-type {
    border-right: none;
  }

  &:hover {
    border-radius: 0 !important;
  }

  &--selected,
  &--keyboard-selected {
    border-radius: 0 !important;
    background-color: #3aa8ff;
  }

  &--disabled {
    border-radius: 0 !important;
  }
}

.react-datepicker__time-list-item {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  height: calc(136px);
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: #3aa8ff;
  &:hover {
    background-color: #3aa8ff;
  }
}

.hide__time {
  display: none;
}
