.flex {
  display: flex;
}

.header {
  width: 248px;
  height: 28px;
  border: 1px solid #a1a1a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  all: unset;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.list__item {
  display: flex;
  justify-content: space-between;
  & span {
    width: 100%;
  }
}

.duration-picker__input__container {
  min-width: 128px;
  height: 22px;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-wrap: nowrap;

  &--invalid {
    outline-color: red;
  }

  &:focus-within {
    outline: 2px solid rgb(113, 168, 254);
  }
}

.duration-picker__input {
  all: unset;
  display: flex;
  align-items: center;
  width: 100% !important;
  text-align: right;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.duration-picker__input__btn-group {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
}
.duration-picker__input-button {
  all: unset;
  height: max-content;

  cursor: pointer;
}
