{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": ["eslint:recommended", "preact"],

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {}
}
